@font-face {
    font-family: "Matroska";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Matroska.ttf");
}

@font-face {
    font-family: "Sequel-65";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-65.ttf");
}

@font-face {
    font-family: "Sequel-75";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-75.ttf");
}

@font-face {
    font-family: "Sequel-85";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-85.ttf");
}

@font-face {
    font-family: "Sequel-95";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-95.ttf");
}

* {
    margin: 0px;
    padding: 0px;

    overflow-x: hidden;

    font-family: "Sequel-85", sans-serif;
}

.home {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    position: fixed;
    width: 100%;

    display: flex;

    margin-top: 2.2em;
    margin-left: 3em;
}

#logo {
    font-size: 20px;
    font-family: "Sequel-85", sans-serif;
    position: relative;
}

#logo::after {
    border-bottom: 0.25em solid blue;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
}

.logo {
    background-image: url("./assets/images/profile.jpeg");

    width: 3em;
    height: 3em;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

nav h2 {
    font-family: "Sequel-65", sans-serif;
    letter-spacing: 0px;
    font-size: 13px;
    font-weight: bold;

    margin-left: 1.2em;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 6em;
}

.menu h2 {
    text-align: end;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}


h1 {
    font-family: "Sequel-85", sans-serif;
    font-weight: 1000;
    font-size: 42px;
    line-height: 42px;
    margin-left: 1.5em;

    overflow-y: hidden;
}