@font-face {
    font-family: "Sequel-45";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-45.ttf");
}

@font-face {
    font-family: "Sequel-55";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-55.ttf");
}

@font-face {
    font-family: "Matroska";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Matroska.ttf");
}

@font-face {
    font-family: "Sequel-65";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-65.ttf");
}

@font-face {
    font-family: "Sequel-75";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-75.ttf");
}

@font-face {
    font-family: "Sequel-85";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-85.ttf");
}

@font-face {
    font-family: "Sequel-95";
    src: url("C:/Users/hudson/development/codeacademy/Web Dev/Hudson Kim/assets/fonts/Sequel100Black-95.ttf");
}

html, body {
    height: 100%;
}

* {
    margin: 0px;
    padding: 0px;

    /* overflow-x: hidden; */

    font-family: "Sequel-85", sans-serif;
}

/* .logo {
    background-image: url("./assets/images/profile.jpeg");

    width: 3em;
    height: 3em;
    border-radius: 50%;
  
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

nav {
    position: fixed;
    width: 100%;

    display: flex;

    margin-top: 2.2em;
    margin-left: 3em;
}

.nav {
    color: black;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

nav h2 {
    font-family: "Sequel-65", sans-serif;
    letter-spacing: 0px;
    font-size: 13px;
    font-weight: bold;

    margin-left: 1.2em;
}

#logo {
    font-size: 20px;
    font-family: "Sequel-85", sans-serif;
    position: relative;
}

#logo::after {
    border-bottom: 0.25em solid blue;
    border-color: blue;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;

    -webkit-transition: border-color 1s ease;
    -moz-transition: border-color 1s ease;
    -o-transition: border-color 1s ease;
    transition: border-color 1s ease;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 6em;
}

.menu h2 {
    text-align: end;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.home {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center; 

    background-color: white;

    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}

h1 {
    font-family: "Sequel-85", sans-serif;
    font-weight: 1000;
    font-size: 42px;
    line-height: 1em;
    margin-left: 1.5em;

    overflow: hidden;

    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

#startchange {
    height: 10px;
    display:none;
}

.about {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    background-color: blue;
}

.about hr {
    margin-top: 9.2em;
    margin-left: 4.4em;

    width: 40px;
}

.about h2 {
    font-family: "Sequel-65", sans-serif;
    font-weight: 200;
    overflow: hidden;
    font-size: 22px;
    color: white;

    margin-left: 3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.about p {
    font-family: "Sequel-45", sans-serif;
    font-weight: 200;
    overflow: hidden;
    font-size: 20px;
    color: white;

    margin-left: 3em;
    margin-right: 2em;

    max-width: 750px;
}

#quote {
    font-size: 18px;
    margin-left: 5em;
    margin-right: 3.5em;
}

#elon {
    margin-left: 4.6em;
    margin-bottom: 2em;
    font-family: "Sequel-85", sans-serif;

    font-weight: 200;
    overflow: hidden;
    font-size: 20px;
    color: white;
}

#imp {
    margin-left: 3em;
    margin-bottom: 2em;
    font-family: "Sequel-55", sans-serif;

    font-weight: 200;
    overflow: hidden;
    font-size: 20px;
    color: white;
}

#top {
    position: absolute;
    top: 3em;
    height: 1px;
}

.work {
    width: 100%;
    height: 100%;

    display: flex; 
    justify-content: center;
    align-items: center;
}

.grid {

    width: 75%;
    height: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.grid div {
    width: 100%;
    height: 0%;
    padding-bottom: 100%;
    background: #1c1c1c;
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}












@media only screen and (max-width: 1000px){
	/*Small smartphones [325px -> 425px]*/
}


@media only screen and (max-width: 600px){
	/*Small smartphones [325px -> 425px]*/
    h1 {
        font-size: 35px;
        margin-left: 1em;
    }

    nav {
        margin-left: 0.8em;
    }

    .menu {
        margin-right: 3.6em;
    }
}

@media (min-width: 1200px) {    
    h1 {
        font-size: 50px;
    }
}